@import 'color';
@import 'font';

.nodefault{
	top: 0;
	left: 0;
	margin: 0;
}

body{
	@extend .nodefault;
	height: 100%;
	width: 100%;
	font-size: 1em;
	background-color: $grey50;
	padding-bottom: 100px;
}

.topbar{
	@extend .nodefault;
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: $grey900;
	z-index: 4;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
}

@-webkit-keyframes page{
	0%{
	}
	20%{
		opacity: 0.75;
	}
	40%{ opacity: 0.25;}
	60%{ opacity: 0.75;}
	80%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.5;
	}
}

.container{
	position: relative;
	top: 0;
	max-width: 1000px;
	width: 98%;
	min-width: 640px;
	text-align: left;
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.18);
	padding-bottom: 10px;
	background-color: white;
	z-index: 2;
}

.holder{
	@extend .container;
	background: none;
	padding-bottom: 0px;
	box-shadow: none;
	display: inline-block;
	max-width: 800px;
	width: 800px;
	min-width: 800px;

}

div.part{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	margin-bottom: 50px;
}

div.subpart{
	@extend div.part;
	margin-top: -30px;
}