@import 'color';
@import 'font';

.nodefault{
	top: 0;
	left: 0;
	margin: 0;
}

body{
	@extend .nodefault;
	padding-top: 50px;
	height: 100%;
	width: 100%;
	font-size: 1em;
	background-color: $grey50;
	padding-bottom: 100px;
}

.topbar{
	@extend .nodefault;
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: $grey900;
	z-index: 4;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
}

/* The things that go in the topbar*/
div.headerContent{
	left: 10px;
	position: relative;
}

/*Holds 'Chelsea Valentine'*/
div.header{
	position: absolute;
	display: none;
	width: 250px;
	height: 50px;
	background-color: $cyan400;
	text-align: center;
	z-index: 4;
}

/*Heart image that opens sidebar*/
img.menu{
	@extend .nodefault;
	position: relative;
	top: 5px;
	margin-left: 20px;
	margin-right: 10px;
	display: inline-block;
	opacity: 0.5;
}

/*Slides open when heart menu clicked*/
div.sidebar{
	@extend .nodefault;
	position: fixed;
	display: none;
	width: 250px;
	height: 100%;
	background-color: $grey900;
	z-index: 4;
}

/*When you click the menu button, the page is dimmed*/
.cover{
	display: none;
	position: fixed;
	background-color: $black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 3;
}

@-webkit-keyframes page{
	0%{
	}
	20%{
		opacity: 0.75;
	}
	40%{ opacity: 0.25;}
	60%{ opacity: 0.75;}
	80%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.5;
	}
}

.container{
	position: relative;
	top: 0;
	max-width: 1000px;
	width: 98%;
	min-width: 640px;
	height: 100%;
	text-align: left;
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.18);
	margin-top: 50px;
	padding-bottom: 10px;
	background-color: $white;
	z-index: 2;
}

.standalone{
	@extend .container;
	padding-bottom: 0;
}

.holder{
	@extend .container;
	background: none;
	padding-bottom: 0px;
	box-shadow: none;
}

div.part{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	margin-bottom: 50px;
}

div.part2{
	@extend div.part;
	margin-bottom: 20px;
}

div.part3{
	@extend div.part;
	margin-bottom: 0;
}
div.subpart{
	@extend div.part;
	margin-top: -30px;
}